{% extends "layout.html" %}

{% block heading %}
    Jis bent jau nėra ėjęs
{% endblock %}

{% block body %}
    <p>
        Jeigu atvirai, tai negaliu gerai atsiminti, apie ką iki šiol galvojau bėgdamas.
                Na taip, iš tiesų, šaltomis dienomis šiek tiek galvoju apie šaltį. Karštomis dienomis šiek tiek galvoju apie karštį.
                Kai liūdna, šiek tiek galvoju apie liūdesį. Kai linksma, šiek tiek galvoju apie linksmumą. Štai taip viskas paprasta.
                Bėgdamas aš vien tik bėgu. Iš esmės bėgu visiškoje tuštumoje.
                O gal atvirkščiai, bėgu tam, kad pajusčiau tuštumą. O į tą tuštumą retkarčiais įsiskverbia mintys“
    </p>

    <a href="{{ url_for('more') }}">Daugiau...</a>
{% endblock %}
